.profile-pic{max-width: 100%;}
.graduates {width: 55%;}
.paragraph-text {font-size: 14px;}
.expert-text {font-size: 16px;}
.color-navbar {background-color: #8080ff;}
.name {font-size: 26px;}
.student-enjoy {font-size: 16px;}
.blauwe-achtergrond {background: url("../img/blue-background.jfif");
background-size: cover;}
